<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e656c865-e3a9-496f-8fb2-0a12f763342f/resourcegroups/bladimir-perez-06/providers/Microsoft.Web/sites/demognbwebui</ResourceId>
    <ResourceGroup>bladimir-perez-06</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demognbwebui.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>demognbwebui.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>demognbwebui</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$demognbwebui</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GNB.Infrastructure.Data.Properties.Settings.DemoConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=bladimirperez06db.database.windows.net;Initial Catalog=DemoDb;Persist Security Info=False;User ID=demognb;Password=&quot;d3m0 gnb 2019 @&quot;;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=bladimirperez06db.database.windows.net;Initial Catalog=DemoDb;Persist Security Info=False;User ID=demognb;Password=d3m0 gnb 2019 @;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=bladimirperez06db.database.windows.net;Initial Catalog=DemoDb;Persist Security Info=False;User ID=demognb;Password=&quot;d3m0 gnb 2019 @&quot;;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GNB.Infrastructure.Data.Properties.Settings.DemoConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=bladimirperez06db.database.windows.net;Initial Catalog=DemoDb;Persist Security Info=False;User ID=demognb;Password=d3m0 gnb 2019 @;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GNB.Infrastructure.Data.Properties.Settings.DemoConnectionString-Web.config Connection String">
      <ParameterValue>Server=bladimirperez06db.database.windows.net;Initial Catalog=DemoDb;Persist Security Info=False;User ID=demognb;Password=d3m0 gnb 2019 @;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>