<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GNB.Infrastructure.Data.Properties.Settings.DemoConnectionString"
            connectionString="Data Source=.;Initial Catalog=DemoDb;User ID=DEMO;Password=DEMO"
            providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IGNBService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://demognbwcf.azurewebsites.net/GNBService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpsBinding_IGNBService" contract="WcfGNB.IGNBService"
          name="BasicHttpBinding_IGNBService" />
    </client>
  </system.serviceModel>
  
</configuration>