<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="all">

      <register type="GNB.ApplicationCore.Interfaces.IGetTransactions, GNB.ApplicationCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                mapTo="GNB.ApplicationCore.BusinessComponents.GetTransactions, GNB.ApplicationCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      
      <register type="GNB.ApplicationCore.Interfaces.ITransactionDataSource, GNB.ApplicationCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                mapTo="GNB.Infrastructure.Data.TransactionDataSource, GNB.Infrastructure.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      
      <register type="GNB.ApplicationCore.Interfaces.IRateDataSource, GNB.ApplicationCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                mapTo="GNB.Infrastructure.Data.RateDataSource, GNB.Infrastructure.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      
      <register type="GNB.ApplicationCore.Interfaces.IServiceAgent, GNB.ApplicationCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"                 
                mapTo="GNB.Infrastructure.ServiceAgents.ServiceAdapter, GNB.Infrastructure.ServiceAgents, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      
    </container>
  </unity>
</configuration>