<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <dataConfiguration defaultDatabase="GNB.Infrastructure.Data.Properties.Settings.DemoConnectionString" />

  <loggingConfiguration name="Logging Application Block" tracingEnabled="false"
    defaultCategory="All" revertImpersonation="false">
    <listeners>
      <add toAddress="isaacpdnica@gmail.com" fromAddress="info_demo@gmail.com"
          subjectLineStarter="Exception Services" subjectLineEnder="Incidencias"
          smtpServer="0.0.0.0" formatter="Text"
          listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          traceOutputOptions="None"
          type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Email Exception Listener" />    
      <add databaseInstanceName="GNB.Infrastructure.Data.Properties.Settings.DemoConnectionString"
           writeLogStoredProcName="Logging_WriteLog"
           addCategoryStoredProcName="Logging_AddCategory"
           formatter="Text"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           traceOutputOptions="None"
           filter="All"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           name="Database Listener" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="{timestamp(local:FixedFormatTime)} {category} - {severity} @ {localMachine} : {message}"
        name="Text" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Exception">
        <listeners>
          <add name="Database Listener" />
          <add name="Email Exception Listener" />
        </listeners>
      </add>     
    </categorySources>
    <specialSources>
      <allEvents name="All Events" switchValue="Verbose">
        <listeners>
          <add name="Database Listener" />
        </listeners>
      </allEvents>
      <notProcessed name="Unprocessed Category" switchValue="Warning">
        <listeners>
          <add name="Database Listener" />
        </listeners>
      </notProcessed>
      <errors name="Logging Errors &amp; Warnings" switchValue="Warning">
        <listeners>
          <add name="Database Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>